<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars!</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<!-- Button -->
<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars Information Scraper</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Collect News!</a></p>
    </div>

<!-- News -->
        <div class="row h-100" id="section">
            <div class="wrapper col overflow-auto bg-light h-100"> 
                <h2 class = "text-center">Mars News</h2>
                <hr>
                  <div>
                    <h5 class = "text-center">{{ mars.news_title }}</h5>
                    <p class = "text-center">{{ mars.news_p }}</p>
                  </div>        
            </div>
        </div>

<!-- Featured Image and Table -->
        <div class="row h-100" id="section">
            <div class="wrapper col overflow-auto bg-light h-100"> 
                <h2 class = "text-center">Featured Image and Facts</h2>
                <hr>
                <div class="container">
                    <div class="row">                    
                        <div class = "col-md-12 col-lg-6">
                            <figure>
                                <img src="{{ mars.featured_image_url }}" class="img-fluid float-start pull-start me-2" id = "featured" title="Featured Mars Image" alt="Featured_Mars_Image">    
                            </figure>
                        </div>  
                        <div class = "col-md-12 col-lg-6">
                            {{ mars.mars_table_html | safe}}                      
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Hemispheres -->
    <div class="bg-light" id="section">
        <div class="container bg-light">
        <h2 class = "text-center">Mars Hemispheres</h2>
        <hr>
            <div class="container">
                <div class="row">
                    {% for hemisphere in mars.hemisphere_image_urls %}
                        <div class="col-sm-3 col-md-12 col-xxl-6">
                            <figure>
                                <img src="{{ hemisphere.link}}" class="img-fluid" title="{{hemisphere.link}}" alt="{{hemisphere.link}}">
                                <figcaption class="text-center">{{hemisphere.title}}</figcaption>
                            </figure>
                        </div>
                    {% endfor %}


                    <!-- {# <div class="col-sm-3 col-md-12 col-xxl-6">
                        <figure>
                            <img src="{{ mars.hemisphere_image_urls[0]['link']}}" class="img-fluid" title="{{mars.hemisphere_image_urls[0]['title']}}" alt="{{mars.hemisphere_image_urls[0]['title']}}">
                            <figcaption class="text-center">{{mars.hemisphere_image_urls[0]['title']}}</figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-3 col-md-12 col-xxl-6">
                        <figure>
                            <img src="{{ mars.hemisphere_image_urls[1]['link']}}" class="img-fluid" title="{{mars.hemisphere_image_urls[1]['title']}}" alt="{{mars.hemisphere_image_urls[1]['title']}}">
                            <figcaption class="text-center">{{mars.hemisphere_image_urls[1]['title']}}</figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-3 col-md-12 col-xxl-6">
                        <figure>
                            <img src="{{ mars.hemisphere_image_urls[2]['link']}}" class="img-fluid" title="{{mars.hemisphere_image_urls[2]['title']}}" alt="{{mars.hemisphere_image_urls[2]['title']}}">
                            <figcaption class="text-center">{{mars.hemisphere_image_urls[2]['title']}}</figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-3 col-md-12 col-xxl-6">
                        <figure>
                            <img src="{{ mars.hemisphere_image_urls[3]['link']}}" class="img-fluid" title="{{mars.hemisphere_image_urls[3]['title']}}" alt="{{mars.hemisphere_image_urls[3]['title']}}">
                            <figcaption class="text-center">{{mars.hemisphere_image_urls[3]['title']}}</figcaption>
                        </figure>
                    </div> #} -->


                    </div>
                </div>
            </div>
        </div>
    </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>