<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars Information Scraper</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Collect News!</a></p>
    </div>
    <h2>Mars News and Images:</h2>
    <h5>{{ mars.news_title }}</h5>
    <h6>{{ mars.news_p }}</h6>
    <br/>
    <img src="{{ mars.featured_image_url }}" alt="Featured_Mars_Image">
    <br/>
        {{mars.mars_table_html}}
    <br/>
    <img src="{{ mars.hemisphere_image_urls[0]['link']}}" alt="Hemisphere">
    <figcaption>{{mars.hemisphere_image_urls[0]['title']}}</figcaption>

    <div class="container">
        <div class="row">

            <div class="col-sm-3 col-md-12 col-xxl-6">
              <img src="assets/images/MaxTvsLat.svg" class="img-fluid" title="Maximum Temperature vs Latitude" alt="Maximum Temperature vs Latitude">
            </div>
            <div class="col-sm-3 col-md-12 col-xxl-6">
              <img src="assets/images/HumVsLat.svg" class="img-fluid" title="Humidity vs Latitude" alt="Humidity vs Latitude">
            </div>
            <div class="col-sm-3 col-md-12 col-xxl-6">
              <img src="assets/images/CloudVsLat.svg" class="img-fluid" title="Cloudiness vs Latitude" alt="Cloudiness vs Latitude">
            </div>
            <div class="col-sm-3 col-md-12 col-xxl-6">
              <img src="assets/images/WSpdVsLat.svg" class="img-fluid" title="Wind Speed vs Latitude" alt="Wind Speed vs Latitude">
            </div>
  </div>
</div>

  </div>
</body>

</html>